
@{
    ViewBag.Title = "Personal Details";
}

<h2>My Personal Details</h2>

<ul>
    <li><b>Father's Name:</b> @ViewBag.father_name</li>
    <li><b>Mother's Name</b> @ViewBag.Mother_name</li>
    <li><b>Address:</b> @ViewBag.address</li>
    <li><b>Date of Birth:</b> @ViewBag.dob</li>
    <li><b>Nationality:</b> @ViewBag.nationality</li>
    <li><b>Religion:</b> @ViewBag.Religion</li>
    <li><b>Marital Status:</b> @ViewBag.MarriedStatus</li>
</ul>
